/* login.component.css */
.login-container {
  min-height: 100vh;
  background-color: #000; /* Fondo negro */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  animation: fadeIn 1s ease-out;
}
.subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 2rem;
  font-weight: bold; /* Esto hace que el texto esté en negritas */
}


.login-card {
  background-color: #FFD700; /* Cuadro dorado */
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: #333;
  border: 1px solid #e0e0e0;
  animation: bounceIn 0.8s ease-out;
}

.logo {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #2196f3;
  font-weight: 600;
  display: inline-block;
}

.emoji {
  font-size: 2rem;
  margin-left: 10px;
  vertical-align: middle;
  animation: emojiJump 1.5s ease-in-out infinite;
}

.subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  color: #333;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-group input::placeholder {
  color: #999;
}

.form-group input:focus {
  border-color: #2196f3;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
  background-color: #1976d2;
  transform: translateY(-3px);
}

.footer-links {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #666;
}

.footer-links a {
  color: #2196f3;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes emojiJump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
